.dpe-ges {
    position: relative;
}

.dpe-ges .header .heading:first-child {
    width: 80%;
    display: inline-block;
}

.dpe-ges::after {
    content: " ";
    height: 100%;
    position: absolute;
    left: 80%;
    width: 2px;
    top: 0;
    background-color: #333333;
}

.arrow-box {
    position: relative;
    height: 50px;
    line-height: 50px;
    float: left;
}

.arrow-container::before, .arrow-container::after {
    content: " ";
    display: table;
    box-sizing: border-box;
}

.arrow-container::after {
    clear: both;
}

.arrow-container + .arrow-container {
    margin-top: 5px;
}

.arrow-container .number {
    width: 12%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
    color: #FFF;
    background-color: #000000;
    position: relative;
}

.arrow-container .number-container {
    height: 50px;
    position: relative;
}

.arrow-container .number .arrow-left {
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 25px solid #000000;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-container .number-container .lower {
    position: absolute;
    bottom: -25px;
    right: 0;
}

.arrow-box .arrow-right {
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-box .value {
    float: left;
}

.arrow-box .letter {
    float: right;
}